//COLORS
$primary-col-10: hsl(12, 88%, 59%);
$primary-col-20: hsl(228, 39%, 23%);

$neutral-col-10: hsl(227, 12%, 61%);
$neutral-col-20: hsl(233, 12%, 13%);
$neutral-col-30: hsl(13, 100%, 96%);
$neutral-col-40: hsl(0, 0%, 98%);
$neutral-col-50: hsl(0, 0%, 100%);

//FONTS
$font-fam: "Be Vietnam", sans-serif;
$font-base: 16px;
$font-reg: 400;
$font-bold: 500;
$font-bolder: 700;
